<div id="basket-container">
  <div class="row justify-content-center basket-products">
    <div class="basket-title-align">
      <h3>Chat</h3>
    </div>

    <% turbo_stream_from "users"%>
    <%= render @users %>

  </div>
</div>
