.orders-container {
  position: relative;
  min-height: 485px;
  background: white;
  margin: 10px;
}

.orders-title {
  margin: 10px;
  padding: 10px;
}

#orders-header {
  position: sticky;
  border-radius: 0;
  font-weight: bold;
  padding: 10px;
  align-items: center;
  margin-top: 25px;
}

.order-card {
  display: flex;
  border-bottom: 1px dotted #337F4C;
  text-align: center;
  color:#337F4C;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.order-field {
  width: 100px;
  align-items: center center;
}

.view-details {
  a {
    color: #337F4C;
    // font-weight: bold;
  }
}

.new-product-form {
  padding: 10px;
}
