<div>

  <div class="chat-product">
  <img class="avatar" src="https://cdn.calciomercato.com/images/2019-05/Whatsapp.senza.immagine.2019.460x340.jpg" />
  <%# <%= cl_image_tag(product.photo.key, class: "avatar", width: 80, height: 80, crop: :fill) %>
    <div class="card-product-infos">
      <h4><%= link_to user.username, user %> </h4>
      <p><%= user.email %></p>
    </div>
  </div>

</div>
