<div class="footer">
  <div class="footer-links">
    <div class="row">

      <div class="col-3">
        <a href="#"><i class="fa-solid fa-house"></i></a>
      </div>

      <div class="col-3">
        <a href="#"><i class="fa-solid fa-search"></i></a>
      </div>

      <div class="col-3">
        <a href="#"><i class="fa-solid fa-heart"></i></a>
      </div>

      <div class="col-3">
        <a href="#"><i class="fa-solid fa-user"></i></a>
      </div>

    </div>
  </div>
</div>
