<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%=  image_tag 'logo2.jpg'  %>
      <h6>Reddito Alimentare</h6>
    <% end %>

  <ul class="navbar-nav me-auto">
    <% if user_signed_in? %>
      <div class="logout">
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-link", id: "log-out" do %>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </div>

    <% else %>
      <%# <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <%# </li> %>
    <% end %>
  </ul>

  </div>
</div>
