<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%=  image_tag 'logo2.jpg'  %>
      <h6>Reddito Alimentare</h6>
    <% end %>

    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>

      <% else %>
      <% end %>
    </ul>

  </div>
</div>
