<!-- Banner section -->
<div class="container home-img-back">

  <div class="row justify-content-center">
    <div class="col-10">
    </div>
  </div>

  <% if user_signed_in? %>

  <% else %>
    <div class="row justify-content-center btn-low">
      <div class="col-10">
        <%= link_to "Login", products_path, class: "btn" %>
      </div>
    </div>
  <% end %>

</div>
