.form-group{
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-top: -150px;
  position: sticky;
}

.model-group{
  padding: 10px;
  align-items: center center;
}

.output-card{
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: -250px;
  margin-bottom: 110px;
}

.basket-title-align-chat{
  margin: 10px;
  margin-top: 20px;
  height: 50px;
}
