.message-row {
  margin-bottom: 5px;
  overflow: scroll;
  padding: 1rem;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 50px;
}

.sender-style {
  background-color: lightgreen;
}

.receiver-style {
  background-color: lightblue;
}

#new_message {
  border-top: 1px solid $gray-200;
  padding: 1rem;

  .form-group {
    margin-bottom: 0;
  }
}
