.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

.navbar-link {
  color: #337F4C;
}

.logout {
  margin-left: 150px;
}

.me-auto {
  align-items: right;
}
