<div id="basket-container">
  <div class="row justify-content-center basket-products">

    <div class="basket-title-align">
      <h3>Crea recensione</h3>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <%= render 'form' %>
      </div>
    </div>

  </div>
</div>
